body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

/* Flex Displays */

#container, #game-window, .play-window, .play-window > div, .play-window > p,
#selection, #selection > div {
    display: flex;
}

#game-widow, .play-window, #selection {
    justify-content: space-evenly;
}

#container, #game-window, .play-window, #selection, .play-window > div,
.play-window > p, #selection > div {
    align-items: center;
}

#container, .play-window > div, play-window > p, #selection > div {
    justify-content: center;
}

/* Font Color White */

#game-window > p, .play-window, #selection > div, #selection > button {
    color: #f9faf8;
}

/* Background Color Blue */

#selection > div, #selection > button {
    background-color: #3882f6;
}

#container {
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
    height: 100vh;
    background-color: #c0c0c0;
    flex-direction: column;
    gap: 15px;
}

/* Game Window */

#game-window {
    position: relative;
    background-color: #c0c0c0;
    width: 80%;
    height: 60%;
    border-radius: 15px;
    box-shadow: 0 5px 5px 5px grey;
    margin: 0;
    flex-direction: column;
}

#game-window > p {
    font-size: 2rem;
}

/* Play Window */

.play-window {
    width: 80%;
    height: 50%;
}

.play-window > div, .play-window > p {
    width: 25%;
    height: 50%;
    background-color: #3882f6cc;
    border-radius: 25px;
    font-size: 3rem;
    font-family: cursive;
    box-shadow: 0 0 10px 10px grey;
}

.score {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 20px;
    left: 20px;
}

/* New Game Button */

#selection {
    background-color: #1f2937;
    width: 80%;
    height: 25%;
    margin: 0;
    border-radius: 15px;
    box-shadow: 0 5px 5px 5px grey;
}

#selection > div {
    width: 65%;
    height: 80%;
    font-weight: 700;
    font-size: 5rem;
    border-radius: 25px;
    box-shadow: 0 0 5px 5px grey;
}

#selection > div:hover {
    box-shadow: 0 0 5px 5px #c0c0c0;
    cursor: pointer;
    font-size: 5.1rem;
}

#selection > div, #selection > button, button > p {
    transition-duration: .5s;
}

/* Game Buttons */

#selection > button {
    width: 25%;
    height: 80%;
    font-family: cursive;
    font-weight: 700;
    font-size: 300%;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 5px 5px grey;
}

#selection > button:hover {
    box-shadow: 0 0 5px 5px #c0c0c0;
    cursor: pointer;
}

button > p {
    transform: rotate(45deg);
}

button:hover > p {
    transform: rotate(-45deg);
}
